@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  /* So you will be able to use 1rem as 10px in whole document for any element*/
  font-size: 1rem;
  box-sizing: border-box;
}

body {
display: flex;
flex-direction: column
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial;
}

h1 {
  font-size: 25px;
  line-height: 25px;
  margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 50px;
}

h3 {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

p, .content ol li {
	font-size: 14px;
	line-height: 18px;
	font-family: "Open Sans", Arial;
	margin-bottom: 10px;
}

.center {
	text-align: center;
}


/*nav*/

.navbar {
	position: fixed;
	width: 100%;
	background-color: #333;
}

.logo {
	display: inline-block;
	height: 40px;
	vertical-align: middle;
	margin-right: 75px;
}

.main {
	margin-bottom: 30px;
}

.navbar ul {
	list-style-type: none;
	display: inline
}

.navbar li {
	display: inline-block;
}

.navbar li a {
	display: block;
	font-family: "Open Sans";
	color: white;
	padding: 25px 25px;
	text-decoration: none;
}

.navbar li a:hover {
	color: #bfbfbf;
}

.active {
	color: #bfbfbf;
}

.dropbtn {
	background-color: #333;
	font-family: "Open Sans";
	color: white;
	padding: 25px 25px;
	font-size: 16px;
	border: none;
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	background-color: #333;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	position: absolute;
}

.dropdown-content a {
	font-family: "Open Sans";
	color: white;
	font-size: 14px;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {color: #bfbfbf;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #333;}


/*footer*/

.footerlist {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: "Open Sans", Arial;
	font-size: 14px;
}

footer {
	background-color: #333;
	color: #bbb;
	line-height: 1.5;
}

footer a {
	text-decoration: none;
	color: #eee;
}

.ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
}


/************************** HOME *****************************/

.center-fit {
	max-width: 100%;
}

.quote1 {
	font-size: 16px;
	line-height: 25px;
	font-family: Georgia;
	margin-top: 70px;
	margin-bottom: 20px;
	text-align: center;
}

.content {
	background-color: #f5f5f5;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 200px;
	padding-right: 200px;
}

.news {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 200px;
	padding-right: 200px;
}

.flexsection1 {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
	justify-content: center;
  gap: 5px;
}

.newsbox {
    width: 100%;
		height: 400px;
    background-color: #f5f5f5;
    margin: 10px;
    padding-top: 50px;
    overflow: hidden;
}

.newsbox img {
	display: flex;
	float: left;
	margin-left: 50px;
	max-height: 300px;
	padding-right: 25px;
}

/************************* SUSPECTS *************************/

.wanted img {
	display: flex;
	margin: 25 auto;
	max-height: 400px;
}

.flexsection2 {
	width: 100%;
	height: 1500px;
	background-color: white;
	padding-top: 50px;
	padding-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: space-around;
}

.wanted {
	width: 500px;
	height: 700px;
	background-color: #f5f5f5;
	margin: 10px;
	overflow: hidden;
}


/************************ CONTACT *************************/

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	font-family: "Open Sans";
}

input[type=submit] {
	background-color: #333;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: "Open Sans";
}

input[type=submit]:hover {
	background-color: #3d3d3d;
}
